@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&family=Work+Sans:wght@400;500&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Work Sans", sans-serif;
}

:root {
  --primary-color: #113946;
  --secondary-color: #41616b;
  --secondary-light: #58747e;
  --icons-bg: rgba(144, 172, 209, 0.2);
  --white: #fff;
  --helper: #ead7bb;
  --helper-light: #fff2d8;
  --background-color: rgb(249 249 250);
  --gradient: linear-gradient(0deg, #113946 0%, #889ca3 100%);
  --gradient-support: -webkit-linear-gradient(0deg, #113946 0%, #889ca3 100%);
  --shadow: 0px 10px 10px 0px rgb((112, 136, 144) / 20%);
}

html {
  font-size: 62.5%;
  /* 1 rem = 10px its a trick*/
  overflow-x: hidden;
}
body {
  overflow-x: hidden;
}

h1,
h2,
h3,
h4 {
  font-family: "Poppins", sans-serif;
  color: var(--primary-color);
}

h1 {
  color: var(--primary-color);
  font-size: 6rem;
  font-weight: 600;
}

h3 {
  font-size: 1.8rem;
  font-weight: 400;
}

.justify {
  text-align: justify;
}

p {
  color: var(--secondary-color);
  line-height: 1.6;
  font-size: 1.7rem;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

/* Header section*/
.header {
  padding: 0.48rem;
  height: 10rem;
  background-color: var(--background-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  width: 100%;
}

.header .logo {
  height: 7rem;
}

/* .navbar {
  position: fixed;
  top: 40px;
  left: 800px;
  width: 100%;
}  */
.navbar-lists {
  display: flex;
  gap: 4rem;
}

.navbar-link:link,
.navbar-link:visited {
  display: inline-block;
  text-decoration: none;
  font-size: 1.8rem;
  text-transform: uppercase;
  color: var(--primary-color);
  transition: color 0.5s linear;

  /* to make delay */
}

.navbar-link:hover,
.navbar-link:active {
  color: var(--secondary-light);
  text-decoration: underline;
  transition: all 0.8s linear;
  transform: translateY(-15%);
}

.mobile-navbar-btn {
  display: none;
  background-color: transparent;
  cursor: pointer;
  border: none;
}

.mobile-navbar-icon[name="close-outline"] {
  display: none;
}

/* reuseable section */
.section {
  padding: 9rem 0;
}

.container {
  max-width: 110rem;
  margin: 0 auto;
}

.grid {
  display: grid;
  gap: 9rem;
}

.grid-two-column {
  grid-template-columns: repeat(2, 1fr);
  /* grid-template-columns: 1fr 1fr */
}

.grid-three-column {
  grid-template-columns: repeat(3, 1fr);
}

.grid-four-column {
  grid-template-columns: repeat(4, 1fr);
}

.btn {
  background: var(--gradient-support);
  padding: 1.6rem 3.2rem;
  border: none;
  color: var(--helper-light);
  text-transform: uppercase;
  font-size: 1.8rem;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
}

.btn:hover,
.btn:active {
  box-shadow: 0px 10px 10px 0px rgb(112, 136, 144);
}

.common-head {
  font-size: 4.5rem;
  font-weight: 600;
  margin-bottom: 6rem;
  text-transform: capitalize;
  position: relative;
  color: var(--primary-color);
}

.common-head::before {
  content: "";
  position: absolute;
  top: 110%;
  left: 0;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  background: var(--secondary-color);
}

.common-head::after {
  content: "";
  position: absolute;
  top: 118%;
  left: 1.5rem;
  height: 0.3rem;
  min-width: 20rem;
  background: var(--helper-light);
}

/* main section */

.section-main-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /*align-items: flex-start;*/
}

.main-top-details {
  /* text-transform: capitalize; */
  font-weight: 500;
  font-size: 1.5rem;
  color: var(--secondary-color);
}

.main-heading {
  text-transform: capitalize;
  font-weight: 700;
  font-size: 4.9rem;
  color: var(--primary-color);
}

.main-para {
  margin-top: 1.5rem;
  margin-bottom: 5rem;
  max-width: 60rem;
  color: var(--secondary-light);
}

.section-main-image {
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-img {
  max-width: 80%;
  position: relative;
  top: 2.188rem;
}

/* About section*/

.content {
  text-align: justify;
}
.about-image {
  display: flex;
  justify-content: center;
  align-items: center;
}

.about-image img {
  width: 80%;
  box-shadow: -1.5rem -1.5rem 0 0 var(--helper-light);
  display: inline-block;
}

.about-data-stats {
  display: flex;
  padding: 6.4rem 0;
  flex-direction: column;
  gap: 3rem;
}

.about-data-stats h3 {
  margin-bottom: 1rem;
}

.progress-bar {
  width: 90%;
  height: 0.8rem;
  background-color: var(--helper-light);
  border-radius: 10rem;
  box-shadow: 0px 8px 8px 0px rgb(112, 136, 144);
  position: relative;
}

.progress-bar::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 80%;
  height: inherit;
  background-color: var(--secondary-light);
  border-radius: 10rem;
}

.progress-bar-2::before {
  width: 70%;
}

.progress-bar-3::before {
  width: 75%;
}

.progress-bar-4::before {
  width: 90%;
}
.progress-bar-5::before {
  width: 60%;
}
.progress-bar span {
  position: absolute;
  top: 1.8rem;
  width: 4rem;
  height: 2rem;
  background: var(--secondary-light);
  color: var(--helper-light);
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  outline: none;
}

.progress-bar span {
  left: 76%;
  /* width = 4 hai toh -4 karna */
}

.progress-bar-2 span {
  left: 66%;
}

.progress-bar-3 span {
  left: 71%;
}

.progress-bar-4 span {
  left: 86%;
}
.progress-bar-5 span {
  left: 56%;
}

/* to create caret */
.progress-bar span::after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border: 0.8rem solid var(--secondary-light);
  border-color: transparent;
  border-bottom-color: var(--secondary-light);
  top: -1.6rem;
}

.section-portfolio {
  /* background: var(--background-color); */
  transition: all 0.7s linear;
}

.section-portfolio p {
  max-width: 60rem;
}

.p-btns {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3.2rem;
  margin-top: 6.4rem;
  margin: 6.4rem 0;
}

.portfolio-images {
  gap: 3.2rem;
  margin-top: 6.4rem;
}

.portfolio-images img {
  width: 100%;
  border-radius: 1rem;
  position: relative;
  overflow: hidden;
}

.img-overlay {
  position: relative;
  overflow: hidden;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  background: var(--gradient-support);
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateY(100%);
  transition: all 0.3s linear;
  border-radius: 1rem;
}

.img-overlay:hover > .overlay {
  transform: translateY(0);
  opacity: 0.8;
  cursor: pointer;
}

.img-overlay .common-head {
  margin: 0;
  color: var(--helper-light);
  text-decoration: none;
}

.p-btn:hover {
  transform: translateY(-1rem);
}

.p-btn-active {
  transform: translateY(-1rem);
}

.p-image-not-active {
  display: none;
}

/* work section */
.section-work-data {
  background: -webkit-linear-gradient(0deg, #113946 0%, #889ca3 100%);
  color: white;
  text-align: center;
  transition: all 0.7s linear;
}

.counter-numbers {
  font-size: 4.8rem;
  color: white;
}

.section-work-data p {
  color: white;
  text-transform: capitalize;
}

/* Services section*/

.section-services p {
  max-width: 60rem;
}
.service-box h3 {
  color: #ffff;
}
.section-services .grid {
  margin-top: 10rem;
  row-gap: 10rem;
}

.service-box {
  text-align: center;
  border-radius: 5px;
  padding: 6.4rem 3.4rem;
  transition: all 0.2s linear;
  transition-duration: 5s;
  background-image: linear-gradient(to right, #a8a8a8, #47656f, #365661);
}
.service-box:hover {
  transform: rotateY(360deg);
}
#text {
  color: white;
}

.service-icon {
  width: 8rem;
  height: 8rem;
  background-color: #8a9da4;
  display: inline-block;
  border-radius: 56% 44% 70% 30% / 30% 54% 46% 70%;
  padding: 1.4rem 1.8rem;
  position: relative;
  color: var(--heading);
  animation: water-wave 3s linear infinite;
}

.service-icon::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid rgba(11, 15, 20, 0.9);
  width: 90%;
  height: 90%;
  border-radius: 56% 44% 70% 30% / 30% 54% 46% 70%;
  background-color: transparent;
  animation: water-wave 5s linear infinite alternate;
}

@keyframes water-wave {
  0% {
    border-radius: 56% 44% 70% 30% / 30% 54% 46% 70%;
  }
  50% {
    border-radius: 3% 97% 15% 85% / 72% 0% 100% 28%;
  }
  100% {
    border-radius: 56% 44% 70% 30% / 30% 54% 46% 70%;
  }
}

.service-box h3 {
  text-transform: capitalize;
  margin-top: 3rem;
  margin-bottom: 1rem;
}

/* Freelancing Section */
.section-freelancing {
  background-image: url("../images/projects_img/1.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  background-attachment: fixed;
  position: relative;
  transition: all 0.7s linear;
  text-align: center;
}

.section-freelancing .overlay1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-color: var(--secondary-light);
  height: 100%;
  opacity: 0.7;
}

.section-freelancing .container {
  position: relative;
}

.section-freelancing h2 {
  font-size: 5.4rem;
}

.section-freelancing span {
  color: var(--helper-light);
}

.section-freelancing h2,
.section-freelancing p {
  color: var(--white);
  margin-bottom: 1.8rem;
}

/* Contact Section */

.section-contact-main {
  max-width: 60rem;
  margin: 0 auto;
  margin-top: 9rem;
  transition: all 0.3s linear;
}

.section-contact-main form {
  display: flex;
  flex-direction: column;
  gap: 3.2rem;
}

.section-contact-main input,
.section-contact-main textarea {
  padding: 1.5rem 2rem;
  border: 0.1rem solid #c9c9cc;
  border-radius: 5px;
  font-size: 1.6rem;
  font-family: "Work Sans", sans-serif;
  width: 100%;
}

.section-contact-main input[type="submit"] {
  max-width: 30%;
  border: none;
}

.section-contact-main .grid {
  gap: 3.2rem;
}

.section-contact-main input[type="submit"] {
  max-width: 30%;
  border: none;
}

/* Footer Section */

.section-footer {
  background-color: var(--primary-color);
  transition: all 0.7s linear;
}

.section-footer h3 {
  color: var(--white);
  margin-bottom: 4rem;
}

.f-about p {
  color: #ababba;
}

.f-links ul,
.f-services ul,
.f-address ul {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 1.8rem;
}

.f-links li,
.f-links a,
.f-services li,
.f-services a {
  font-size: 1.8rem;
  color: #ababba;
  text-transform: capitalize;
}

.f-links span,
.f-services span,
.f-address span {
  margin-right: 1rem;
}

.f-address p,
.f-address p a {
  font-style: normal;
  color: #ababba;
}

.f-social-icons {
  margin: 5rem 0;
  text-align: center;
  color: #ababba;
}

.f-social-icons .icons {
  width: 4rem;
  height: 5rem;
  background-color: var(--icons-bg);
  display: inline-block;
  padding: 1.4rem 1.8rem;
  position: relative;
  color: var(--white);
  animation: water-wave 3s linear infinite;
  cursor: pointer;
}

@keyframes water-wave {
  0% {
    border-radius: 56% 44% 70% 30% / 30% 54% 46% 70%;
  }

  50% {
    border-radius: 3% 97% 15% 85% / 72% 0% 100% 28%;
  }

  100% {
    border-radius: 56% 44% 70% 30% / 30% 54% 46% 70%;
  }
}

.f-credits p {
  text-align: center;
  color: #ababba;
}

footer a:hover,
footer a:active {
  color: var(--white);
}

.scrollTop-style {
  position: fixed;
  right: 2%;
  bottom: 5%;
  z-index: 1;
}

.scroll-top {
  width: 4rem;
  height: 4rem;
  background: var(--secondary-light);
  display: inline-block;
  padding: 1.4rem 1.8rem;
  position: relative;
  color: var(--white);
  animation: water-wave 3s linear infinite;
  cursor: pointer;
}

/* media-queries*/
/* 1500px */
@media (max-width: 95em) {
  .container {
    max-width: 130rem;
    padding: 0 3.2rem;
  }
  .navbar-lists {
    gap: 3.2rem;
  }
}
/* 1200 */
@media (max-width: 75em) {
  html {
    font-size: 56.25%;
  }
  .container {
    max-width: 110rem;
  }

  .grid {
    gap: 4.8rem;
  }
}
/* 980 */
@media (max-width: 980px) {
  html {
    font-size: 50%;
  }
  .header {
    position: relative;
  }

  .mobile-navbar-btn {
    display: block;
    z-index: 9999;
    border: 3px solid black;
    color: #113946;
  }

  .mobile-navbar-icon {
    width: 5rem;
    height: 5rem;
    color: #113946;
  }

  .navbar {
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    background: var(--gradient);
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateX(100%);
    transition: all 0.5s linear;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    z-index: 999;
  }

  .navbar-lists {
    flex-direction: column;
    align-items: center;
  }

  .navbar .navbar-lists .navbar-link:link,
  .navbar .navbar-lists .navbar-link:visited {
    color: #ffff;
    font-size: 3.2rem;
  }

  .active .navbar {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
    transform: translateX(0);
    z-index: 9999;
  }

  .active .mobile-navbar-btn .mobile-navbar-icon[name="menu-outline"] {
    display: none;
  }

  .active .mobile-navbar-btn .mobile-navbar-icon[name="close-outline"] {
    display: block;
  }
  .section-main h1 {
    line-height: 1.05;
  }
  .section-services .grid {
    gap: 6rem;
  }
  .section-services .grid-two-column {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* 780 */
@media (max-width: 48.5em) {
  .container {
    max-width: 71rem;
  }
  .section-main .grid-two-column {
    grid-template-columns: 1fr;
  }
  .section-main-details {
    align-items: center;
  }
  .main-para {
    text-align: center;
    margin-top: 2rem;
  }
  .section-main img {
    width: 70%;
  }
  .section-about .grid-two-column {
    grid-template-columns: 1fr;
  }
  .section-about .about-image {
    grid-row-start: 2;
    grid-row-end: 3;
    /* grid:2/3; */
    margin-top: 3.2rem;
  }
  .section-about .about-image img {
    width: 65%;
  }
  /* portfolio */

  .section-portfolio .grid-three-column {
    grid-template-columns: repeat(2, 1fr);
  }
  /* footer */
  .section-footer .grid-four-column {
    grid-template-columns: 1fr 1fr;
    /* margin-right: 5rem; */
  }
}

/* below 560 */
@media (max-width: 35em) {
  .header {
    padding: 0 3.2rem;
  }

  .header .logo {
    width: 50%;
  }

  .p-btns {
    gap: 2.8rem;
  }
  .btn {
    padding: 1rem 2rem;
  }
  .section-services .grid-two-column {
    grid-template-columns: 1fr;
  }
  .section-freelancing h2 {
    font-size: 3.2rem;
  }

  .contact-container {
    padding: 0 3.2rem;
  }

  .contact-container .grid-two-column {
    grid-template-columns: 1fr;
  }

  .section-contact-main input[type="submit"] {
    max-width: 40%;
  }

  .section-footer .f-about,
  .section-footer .f-address {
    grid-column: 1/-1;
  }
}
